#####################################################################
#
# Configuration file for the ARTS program
#
#####################################################################
#
basis-signature-tolerance 0.5
cluster-bin-size 3.5
cluster-max-dist 3.5
extension-max-atom-distance 3.0
number-of-output-alignments 10
max-num-of-refinements 3
#
########################### Log Parameters ##########################
#
log-file log
#
# The avaible log levels are:
# 0 - only error messages
# 1 - error and warning messages
# 2 - error, warning and general information messages
# 3 - error, warning, general information and debug messages
log-level 2
